.models-nav-container {
    max-width: 1185px;
    height: 51px;
    margin: 1rem auto;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.models-nav {
    max-width: 685px;
}

.models-nav-item {
    margin: 0 min(25px, 2vw);
    text-align: center;
    align-items: center;
    line-height: 51px;
    box-sizing: border-box;
}

.models-nav-item a {
    width: 51px;
    color: black;
}

.models-nav-item:focus {
    outline: none;
    border-bottom: 4px solid#1C69D4;
}

.models-nav-item:focus a {
    font-family: BMWTypeNext-Bold;
}