@keyframes leftToRightSlide {
    from {width:30%; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

.left-to-right-slide-animation {
    animation: leftToRightSlide 1.5s;
}

@keyframes topToBottomSlide {
    from {height:0%; opacity: 0; display: none}
    to {height: 50%; opacity: 1; display: flex}
}

.top-to-bottom-slide-animation {
    animation: topToBottomSlide 1s;
}

@keyframes bottomToTopSlide {
    from {height:50%; opacity: 1; display: flex}
    to {height: 0%; opacity: 0; display: none}
}

.bottom-to-top-slide-animation {
    animation: bottomToTopSlide 1s;
}

.model-detail-part {
    max-width: 1187px;
    height: 342px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.model-detail-container {
    overflow: hidden;
    height: 342px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-right: 2.5vw;
    padding-left: 3vw;
}

.model-detail-container .model-detail-img {
    align-self: flex-end;
}

.model-detail-container h2, p {
    color: white;
    font-style: normal;
    font-weight: 300;
    font-family: BMWTypeNext-Light;
    padding: 0;
    margin: 0;
}

.model-detail-content {
    max-width: 500px;
    height: 250px;
    margin: 0;
    margin-top: 1.5vw;
}

.model-detail-content .electricity-option-p {
    font-family: BMWTypeNext-Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.model-detail-content h2 {
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
}

.model-detail-info .model-detail-data-value {
    font-size: 16px;
    line-height: 22px;
}

.model-detail-info .model-detail-data-name {
    font-size: 13px;
    line-height: 18px;
}

.model-detail-info {
    margin-top: 10px;
    width: 510px;
}

.model-detail-info div {
    border-left: 1px solid white;
    padding: 0 16px;
}

.model-detail-info div p {
    padding: 0;
    margin: 0;
}

.model-detail-info div:first-child {
    border-left: none;
    padding-left: 0;
}
.model-detail-container {
    margin-bottom: 24px;
}

.model-detail-content .discover-more-button p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
}

.model-detail-content .discover-more-button {
    margin-top: 50px;
    text-align: center;
    outline: none;
}

.discover-more-button:hover > i img {
    transition: 0.4s;
    transform: translateX(12px);
}

.model-detail-content .discover-more-button i img {
    filter: invert(94%) sepia(98%) saturate(0%) hue-rotate(310deg) brightness(103%) contrast(105%);
    width: 10px;
}

#model-overview {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    height: 0;
}

#model-overview h2 {
    font-size: 26px;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    color: #262626;
}

#model-overview p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: #262626;
}

.model-visit-web-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 49px;
    background-color: #1C69D4;
    gap: 49px;
    color: white;

}

.model-visit-web-button span {
    font-family: BMWTypeNext-Light;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
}