.group01 {
    margin-right: 8vw;
    padding-bottom: 3%;
}

.group01 h2 {
    display: flex;
    flex-direction: column;
}

.group01-title {
    height: fit-content;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-left: -1px;
}

.group01-texts {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: #262626;
}


@media screen and (min-width: 1024px) {
    .section-01 {
        padding-left: 4vw;
    }

    .group01 {
        max-width: 1200px;
        max-height: 155px;
    }

    .group01 h2 {
        flex-direction: row;
        gap: 8px;
    }
    
    .group01-title {
        line-height: 49px;
    }
}