.banner-container {
  max-width: 1440px;
  max-height: 515px;
  height: 50vw;
  margin: 0 auto;
  background-image: url("../images/fdv3dt199x7moso8dcj7xfsdvx62 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  font-family: BMWTypeNext-Bold;
}

.navigation-bar {
  height: 70px;
}

.navigation {
  width: 90%;
  margin-top: 2rem;
}

.navigation nav {
  height: 94px;
  width: 100%;
  max-width: 1081px;
  border-bottom: 1px solid white;
  padding-right: 32px;
}

.navigation nav, .nav-sub-text {
  display: none !important;
}

.banner-container .bannerTextsDiv {
  margin-top: 10vw;
  padding-left: 5vw;
}

.banner-container .bannerTextsDiv .banner-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 46px;
  width: 362px;
  height: 38px;
}

.banner-container .bannerTextsDiv .banner-text {
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 26px;
  width: 316px;
  height: 22px;
}

@media screen and (min-width: 1024px) {
  .navigation nav, .nav-sub-text {
    display: flex !important;
  }

  #menuButton {
    display: none !important;
  }
  
  .nav-title {
    font-style: normal;
    font-weight: 700;
    height: fit-content;
    font-size: 30px;
  }
  
  .navigation nav a {
    color: white;
  }
  
  .navigation nav .nav-title {
    line-height: 41px;
  }
  
  .navigation nav .nav-item {
    padding: 5px 16px;
    line-height: 22px;
  }
  
  .navigation nav .nav-item-active {
    position: relative;
  }
  
  .nav-item-active:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #0066B1;
    width: 66%;
    transform: translateX(-50%);
    left: 50%;
    top: calc(50% + 45px);
  }
  
  .navigation nav a{
    padding: 10px;
  }

  .navigation-bar {
    height: 94px;
  }
  
  .navigation-bar .nav-sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 172px;
    height: 22px;
    align-self: flex-end;
    margin-top: 16px;
    margin-right: 15%;
  }
}