main {
    position: absolute;
    top: 515px;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    max-width: 1440px;
}

#findYour {
    margin-left: 328px;
    width: 832px;
    padding-right: 42px;
    margin-top: 46px;
}

.title {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    height: 56px;
    margin-left: -1px;
}

.texts {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: #262626;
}

#findYour div {
    margin-bottom: 20px;
}

#Group01 {
    width: 928px;
    margin-left: 127px;
    margin-top: 46px;
}