@import "./_reboot.css";
@import "./header.css";

@font-face {
  font-family: 'BMWTypeNext-Light';
  src:  url('../fonts/BMWTypeNext-Light.woff2') format('woff2');
  src:  url('../fonts/BMWTypeNext-Light.woff2') format('woff');
}

@font-face {
  font-family: 'BMWTypeNext-Bold';
  src:  url('../fonts/BMWTypeNext-Bold.woff2') format('woff2');
  src:  url('../fonts/BMWTypeNext-Bold.woff2') format('woff');
}

body {
  margin: auto;
  width: 1440px;
  font-family: BMWTypeNext-Light;
}