@import "./_reboot.css";
@import "./header.css";
@import "./utils.css";
@import "./calculate-savings/section-findYour.css";
@import "./calculate-savings/section-01.css";
@import "./calculate-savings/models-nav-section.css";
@import "./calculate-savings/models-select-section.css";
@import "./calculate-savings/model-detail-section.css";
@import "./calculate-savings/section-02.css";


@font-face {
  font-family: 'BMWTypeNext-Light';
  src:  url('../fonts/BMWTypeNext-Light.woff2') format('woff2');
  src:  url('../fonts/BMWTypeNext-Light.woff2') format('woff');
}

@font-face {
  font-family: 'BMWTypeNext-Bold';
  src:  url('../fonts/BMWTypeNext-Bold.woff2') format('woff2');
  src:  url('../fonts/BMWTypeNext-Bold.woff2') format('woff');
}